<div [ngStyle]="{'direction': direction, 'text-align': direction=='ltr'? 'left': 'right' }"> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button routerLink="/">
      <span>Site name</span>
    </a>
    <div fxShow="true" fxHide.lt-md="true">
      <a  mat-button routerLink="/calendar" routerLinkActive="active">{{'navbar.CalenderLabel' | translate}}</a>
      <a  mat-button routerLink="/workout/add" routerLinkActive="active">{{'navbar.WorkoutLabel'| translate}}</a>
    </div>
     
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <mat-form-field appearance="fill">
        <mat-select #langSelect (selectionChange)="translate.use(langSelect.value)" [value]="translate.currentLang">
          <mat-select-trigger>
            <img src="../../assets/flags/{{translate.currentLang}}.jpg"> {{translate.currentLang}}
          </mat-select-trigger>
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            <img src="../../assets/flags/{{lang}}.jpg"> {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar>

  <!-- collapse sidenav -->
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">      
        <a  mat-button routerLink="/calendar" routerLinkActive="active">{{'navbar.CalenderLabel' | translate}}</a>
        <a  mat-button routerLink="/workout/add" routerLinkActive="active">{{'navbar.WorkoutLabel' | translate}}</a>
        <mat-form-field appearance="fill">
          <mat-select #langSelectsm (selectionChange)="translate.use(langSelectsm.value)" [value]="translate.currentLang">
            <mat-select-trigger>
              <img src="../../assets/flags/{{translate.currentLang}}.jpg"> {{translate.currentLang}}
            </mat-select-trigger>
            <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
              <img src="../../assets/flags/{{lang}}.jpg"> {{lang}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

