<mat-form-field  *ngIf="type != 'datepicker'" style="margin-right: 30px;"  [ngStyle]="{'width.px': width,'text-align': isRTL? 'right': 'left'}">
    <mat-label *ngIf="label">{{ label | translate}}</mat-label>
    <input  matInput type="{{type}}" [(ngModel)]="value"  (change)="inputOnChange($event)" (input)="resize()" [ngStyle]="{'width.px': width}" [disabled]="isBlank" >
</mat-form-field>

<mat-form-field appearance="fill" *ngIf="type == 'datepicker'">
  <!-- #enddocregion toggle -->

  <input *ngIf="value" matInput type="datetime-local" placeholder="{{ label | translate}}" [ngModel]="value.format('YYYY-MM-DDTHH:mm')" (ngModelChange)="dateChangeEvent('input', $event)" [disabled]="isBlank" >
  </mat-form-field>


  
    <!-- Date Picker -->
    <!-- <input *ngIf="type == 'datepicker'" matInput [matDatepicker]="picker" [(ngModel)]="value"  (change)="inputOnChange($event)" (input)="resize()"  (click)="picker.open()" [ngStyle]="{'width.px': width}" [disabled]="isBlank" >
    <mat-datepicker-toggle *ngIf="type == 'datepicker'" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker *ngIf="type == 'datepicker'" #picker></mat-datepicker> -->

<span #hiddenText *ngIf="type != 'datepicker'" style="visibility: hidden; white-space: pre; position: absolute;">{{value}}</span>
<span #hiddenLabelText *ngIf="type != 'datepicker' && label" style="visibility: hidden; white-space: pre; position: absolute;">{{label | translate}}</span>