input[type="text"] {
    width: 80px;
}

input[type="number"] {
    width:30px;
}

mat-form-autowidth-field{
    margin-right: -15px;
    margin-left: 5px;
    display: inline-flex;
}

mat-label{
    margin-right: 5px;
    margin-left: 5px;
    display: inline-flex;
}

.container-fluid{
    padding-top: 5px;
}