<div fxLayout="column" class="container-fluid" [ngStyle]="{'direction': direction }">
    <div fxLayout="row" style="align-items: center;"> 
            <mat-form-autowidth-field [type]="'number'" [label]="'exercise.RepetitionLabel'" [minWidth]="50" [(value)]="value.repetition" (onValueChange)="validateExercise($event)"></mat-form-autowidth-field>
            
            <mat-label>x</mat-label>
            
            <mat-form-autowidth-field [type]="'number'" [label]="'exercise.DistanceLabel'" [minWidth]="50" [(value)]="value.distance" (onValueChange)="validateExercise($event)"></mat-form-autowidth-field>
            
            <mat-label>-</mat-label>
            
            <mat-form-autowidth-field [type]="'text'" [label]="'exercise.DescriptionLabel'" [minWidth]="50" [(value)]="value.description"></mat-form-autowidth-field>
            
            <mat-label>[</mat-label>

        <!-- <div class="container"> -->
                <div *ngFor="let exercise of value.exerciseSets; index as i;">
                    <exercise-set [(exerciseSet)]="value.exerciseSets[i]"  (onValueChange)="validateExercise($event)"></exercise-set>
                </div>
                <div>
                    <exercise-set blank (exerciseSetChange)= "addNewSplitDistance($event)"></exercise-set>
                </div>
        <!-- </div> -->
            
            <mat-label>]</mat-label>

    </div>
    <div *ngIf="validationResult != 'NoError'" style="color: red;text-align: start;"> 
        {{ "exercise.ValidationLabels."+validationResult | translate}}
    </div>
</div>