<div class="container">
     <app-register-workout [(workout)]="workout" class="row"></app-register-workout>
     
     <!-- <div class="row" *ngFor="let workoutPart of workout.workoutParts; index as i;"> 
        <workout-part-plan style="width: 100%;" [(workoutPart)]="workout.workoutParts[i]" (onValueChange)="updateTotalDistance()"></workout-part-plan>
    </div> -->
    

    <div cdkDropListGroup>
        <div *ngFor="let workoutPart of workout.workoutParts; index as wpi;">
          <div fxLayout="row">
            <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="workoutPart.name" [label]="'workout-part-plan.WorkoutPartLabel'" ></mat-form-autowidth-field>
            <mat-form-autowidth-field [type]="'text'" [minWidth]="150" [(value)]="workoutPart.goal" [label]="'workout-part-plan.GoalOfPartLabel'" ></mat-form-autowidth-field>
          </div>
          <div
            cdkDropList
            [id]="'workoutPart-exercises-'+wpi+'-drop-list'"
            [cdkDropListData]="workoutPart.exercises"
            fxLayout="column wrap"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div cdkDrag 
            fxFlex="grow" class="example-box" 
            [ngStyle]="{'direction': direction }" 
            (cdkDragStarted)="draggingStarted($event)"
            (cdkDragEnded)="draggingEnded($event)"
            
            *ngFor="let exercise of workoutPart.exercises; index as exi;" >
            <div class="example-custom-placeholder" *cdkDragPlaceholder>
              <exercise fxFlex="grow" [direction] ="direction" [(value)]="workoutPart.exercises[exi]" (onValueChange)="updateDistances()"></exercise>
            </div>

              <div fxFlex='10' class="example-handle" >
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <exercise fxFlex="grow" [direction] ="direction" [(value)]="workoutPart.exercises[exi]" (onValueChange)="updateDistances()"></exercise>
            </div>
          </div>
          <div
            cdkDropList
            [hidden]="exercisesDeleteAraeHidden['workoutPart-exercises-'+wpi+'-drop-list']"
            [id]="'workoutPart-exercises-'+wpi+'-drop-list-delete'"
            [cdkDropListData]="workoutPart.exercises"
            fxLayout="column wrap"
            class="example-list"
            (cdkDropListDropped)="delete($event)"
            style="align-items: center; background-color: #de000096;">
              <mat-icon style="margin-top: 5px; color: white;">delete_outline</mat-icon>
          </div>
          <div fxLayout="row">
            <mat-form-autowidth-field [type]="'number'" [isBlank]="true" [minWidth]="150" [(value)]="workoutPart.totalDistance" [label]="'workout-part-plan.TotalDistanceLabel'" ></mat-form-autowidth-field>
            <button (click)="addNewExercise(workoutPart.exercises)" mat-icon-button style="outline: none;" >
              <mat-icon>add_circle_outline</mat-icon>
              {{ 'workout-plan.AddNewExerciseLabel' | translate}}  
            </button>  
        </div>
        </div>


        <button (click)="AddNewWorkoutPar()" mat-icon-button style="outline: none;" >
          <mat-icon>add_circle_outline</mat-icon>
          {{ 'workout-plan.AddNewWorkoutPartLabel' | translate}}  
        </button>  
      </div>

  </div>
  
