    <div fxLayout="row" (click)="inputOnChange()" style="display: flex;align-items: center;">
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'number'" [isBlank]="isBlank" [label]="'exercise.DistanceLabel'" [minWidth]="50" [(value)]="exerciseSet.distance" (onValueChange)="onValueChange.emit($event)"></mat-form-autowidth-field>
        <!-- </div> -->
            <mat-label>-</mat-label>
        <!-- <div class="col"> -->
            <mat-form-autowidth-field [type]="'text'" [isBlank]="isBlank" [label]="'exercise.DescriptionLabel'" [minWidth]="50" [(value)]="exerciseSet.description"></mat-form-autowidth-field>
        <!-- </div> -->
            <mat-label *ngIf="!isBlank">+</mat-label>

    </div>
    
