<div style="position: relative; margin-bottom:64px;">
    <app-workout-plan *ngIf="workoutAfetrChange" [(workout)]="workoutAfetrChange"></app-workout-plan>
    <!-- {{ workoutAfetrChange |json}} -->
    
    <mat-toolbar color="primary">
        <span>{{ 'planing-workout.TotalDistanceLabel' | translate }}</span>
        <mat-form-autowidth-field [type]="'number'" [isBlank]="true" [minWidth]="150" [(value)]="workoutAfetrChange.totalDistance" ></mat-form-autowidth-field>


        <span class="example-spacer"></span>

        <button mat-icon-button dir="{{ 'direction' | translate }}" fxLayoutGap="20px" aria-label="Example icon-button with menu icon" >
            <mat-icon>save</mat-icon>
            <span fxflex fxHide="true" fxShow.gt-sm="true"> {{ 'workout-management.SaveLabel' | translate }} </span>
          </button>
    </mat-toolbar>
</div>